[submodule ".vim/pack/plugins/start/vim-tmux-navigator"]
	path = .vim/pack/vim-tmux-navigator/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/pack/gruvbox/start/gruvbox"]
	path = .vim/pack/gruvbox/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
